{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}
<div class="container-fluid px=0 mb-4">
    <img src="https://source.unsplash.com/1200x400/?phone,contact" class="d-block w-100 mx-0" alt="...">
</div>
<div class="user_panel text-center ">
    <h7>You are logged in Mr/Ms <strong>{{request.user}}</strong> , please click "logout" to log out:</h7>
    <a href="/logout">logout</a>
</div>
<form action="/contact/" method="post">
    {% csrf_token %}
    <div class="container mb-3 py-4">
        <h1 class="text-center">Contact Us</h1>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Mobile number</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your Mobile number">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Tell me what you want to contact me for.........</label>
            <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
{% endblock body %}